@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 2rem;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#main-content {
  background-color: #f3f3f3;
  min-height: 100%;
	width: 100%;
	padding-bottom: 1em;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: #252831;
  text-align:center;
}

nav h1 {
	margin-bottom: 0;
	font-size: 1rem;
	line-height: 3.1;
}

nav h1 a {
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
	letter-spacing: 0.4em;
}

#breadcrumb {
	padding: 0.4em 1em;
  list-style: none;
  background-color: #eee;
	width: 100%;
  margin: 0;
	line-height: 1.7;
	font-size: 1.3rem;
}

#breadcrumb li {
	display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ======================================= */
#map-container {
	height: 65vw;
	max-height: 19.5rem;
}

#map {
	background-color: #ccc;
  height: 100%;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
	display: flex;
  align-items: center;
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	margin-bottom: 1em;
	border-bottom: 0.7em solid orange;

}
.filter-options h2 {
  color: white;
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.5em 0 0;
	text-align: center;
	flex: 1 1 100%;
	letter-spacing: 0.15em;

}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
	font-size: 0.85rem;
  height: 2rem;
  letter-spacing: 0;
  margin: 1em;
  padding: 0 0.5rem;
  width: 10rem;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
	max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
	display: grid;
	grid-gap: 1em;
}
#restaurants-list li {
	font-family: Arial,sans-serif;
	border-bottom: 0.6em dotted #ccc;
	padding: 0 0 1em 0;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
	max-width: 100%;

}
#restaurants-list li h1 {
	position: absolute;
	width: 100%;
	font-size: 0.9rem;
  font-weight: 200;
  letter-spacing: 0.21em;
  line-height: 1.4;
  text-transform: uppercase;
	color: white;
	margin: -70vw auto;
	padding: 0.7em;
	padding-left: 1.4em;
	text-align: left;
	background-color: rgba(0,0,0, .5);
}
#restaurants-list p {
  margin: 0;
  font-size: 1rem;
	padding: 0.3em;
}
#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: block;
  font-size: 1rem;
  padding: 0.7em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* ====================== Restaurant Info ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1200;
}
.inside #map-container {
	background: blue none repeat scroll 0 0;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin: 0.4rem 0;
	padding: 0.38rem 1rem;
  text-transform: uppercase;
  line-height: 1.1;
	border-top: 0.12rem dashed #f18200;
	border-bottom: 0.12rem dashed #f18200;
	text-align: center;
}

#restaurant-img {
	width: 100%;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.77rem;
  margin: 0 0 0.3em;
  padding: 0.1rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-address {
  font-size: 1rem;
  margin: 0.6rem;
	text-align: right;
}

#restaurant-cuisine {
	width: 100%;
}

#restaurant-hours {
	padding: 0 0 0.3rem 0.6rem;
}

#restaurant-hours td {
	color: #666;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
	width: 100%;
	padding: 0;
}
#reviews-container {
	padding: 2% 3%;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
	margin: 0 0 0.5rem 0.5rem;
}
#reviews-list {
  margin: 0 auto;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0.5rem 0.4rem 0.5rem;
  position: relative;
  width: 100%;
}
#reviews-list li p {
  margin: 0 0 10px;
}

.inside #footer {
  bottom: 0;
  position: relative;
  width: 50%;
}
/* ========================= Medium Sized Screens ================================ */
@media screen and (min-width:31.25em)  {

	header h1 {
		line-height: 3rem;
		margin-bottom: 0;
	}

	header h1 {
		font-size: 1.2rem;
		vertical-align: middle;
	}
	/* =============== Restaurant Cards List =============== */
	#restaurants-list {
		width: 95%;
		margin: auto;
		max-width: 38rem;
	}

	#restaurants-list li {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: min-content max-content;
		border: none;
		padding: 1rem 0;
		background-color: #fff;
	}
	/* img-container for main */
	#restaurants-list .img-container {
		grid-row: 1 / 4;
		grid-column: 1 / 2;
		width: 100%;
		padding-left: 1rem;
	}

	#restaurants-list li img {
		width: 100%;
		height: auto;
	}

	#restaurants-list li h1, #restaurants-list li p, #restaurants-list li a {
		border: 0;
		margin: 0;
		padding: 0;
		text-align: center;
		line-height: 2;
		font-size: 0.85rem;
		width: 100%;
	}

	#restaurants-list li h1 {
		position: relative;
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		font-size: 0.85rem;
		background-color: inherit;
		color: inherit;
		padding: 0 1rem;

	}
	/* Neighborhood */
	#restaurants-list li address p{
		font-size: 0.7rem;
	}

	#restaurants-list li a {
		grid-row: 3 / 4;
		grid-column: 2 / 3;
		font-size: 0.95rem;
		margin: auto 1rem 0;
		padding: 0.8rem;
		width: calc(100% - 2rem);
	}
	/* ====================== Restaurant Info ====================== */
	#breadcrumb {
		padding: 0.7rem 1.4rem ;
		width: 100%;
	}

	#maincontent {
		display: grid;
		grid-auto-rows: auto;
	}

	.inside #map-container {
		display: block;
		width: 100%;
		height: 17rem;
	}

 	#restaurant-container , #reviews-container {
		width: 100%;
		padding: 0;
	}

	#restaurant-name {
		font-size: 1.4rem;
		padding: 0.4em;
		margin: 0;
		text-align: center;
	}

	/* img-container for restaurant details page */
	.inside .img-container {
		width: 90%;
		max-width: 40rem;
		margin: 1rem auto;
	}

	#restaurant-cuisine {
		width: 100%;
	}

	#restaurant-address {
		text-align: right;
		margin: 0;
		padding-right: 0.4em;
		line-height: 2.5;
		border-top: 0.05em dashed #f18200;
		border-bottom: 0.05em dashed #f18200;
	}

	#restaurant-hours {
		padding-left: 0.4em;
	}

	#reviews-container h2 {
		margin: 0.5rem auto 0.5rem;
		text-align: center;
		font-size: 1.3rem;
		letter-spacing: 3px;
	}

	#reviews-list li {
		border-top: 2px solid #f3f3f3;
		border-bottom: 2px solid #f3f3f3;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.inside #footer {
		width: 100%;
	}
/* } */

/* A small adjustment */
@media screen and (min-width: 35rem){
	#restaurants-list li h1 {
		font-size: 1rem;
	}

	#restaurants-list li address p {
	font-size: 0.85rem;
}
/* ========================================== 60em + Large-Sized Screens ========================================== */
@media screen and (min-width: 50em){


}
